<h1>Edit Idea</h1>
<br>

{{#each errors}}
<div class="alert alert-danger">
    {{text}}
</div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <h3>Edit Video Idea</h3>
        <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
            <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{idea.title}}" required>
            <label for="title">Details</label>
            <textarea  class="form-control" name="details" id="details" required>{{idea.details}}</textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="_method" value="PUT">
            </div>
        </form>
    </div>
</div>